<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
	http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

	<!-- 设置端口 -->
	<dubbo:protocol name="dubbo" port="${dubbo.protocol.port}" serialization="kryo" optimizer="com.quick4j.serialization.Serialization"/>
	<!-- 服务名 -->
	<dubbo:application name="${dubbo.application.name}" />
    <!-- zk地址 -->
    <dubbo:registry address="${dubbo.registry.address}" />
	<!--营销模块服务-->
	<dubbo:protocol threads="200" />

	<dubbo:service interface="com.quick4j.service.DeptServiceI" ref="deptService" />

</beans>